.square {
    background-color: rgb(77, 230, 77);
    border: solid rgb(30, 82, 30) 1px;
}

#campoMinato {
    margin: 0 auto;
    width: 1000px;
    height: 1000px;
}

.facile {
    width: 50px;
    height: 50px;
}

.medio {
    width: 40px;
    height: 40px;
}

.difficile {
    width: 30px;
    height: 30px;
}