.square {
    background-color: rgb(77, 230, 77);
    width: 80px;
    height: 80px;
    border: solid rgb(30, 82, 30) 1px;
}

#campoMinato {
    margin: 0 auto;
    width: 1000px;
    height: 1000px;
}